[submodule "p44maintd/src/p44utils"]
	path = src/p44utils
	url = ../p44utils.git
	branch = main
[submodule "p44maintd/src/p44maintd_common"]
	path = src/p44maintd_common
	url = ../p44maintd_common.git
	branch = main
